.about-text{
    font-size:20px;
    margin: 3%;
}

.resume-text{
    font-size:25px;
}

.resume-link{
    color: crimson;
}

.nav-pills .pill-1 .nav-link {
    background-color: #25252577;
    color: white;
}
.nav-pills .pill-2 .nav-link {
    background-color: #25252577;
    color: white;
}
.nav-pills .pill-3 .nav-link {
    background-color: #25252577;
    color: white;
}
.nav-pills .pill-4 .nav-link {
    background-color: #25252577;
    color: white;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
  }